body {
    padding-top: 0px;
    margin-top: 0px;
    display: block;
    height: 100%;
}

#main-doc {
  padding-top: 15%;
}

#main {
  height: 100vh;
  padding: 20px 0px 35px 27%;
  background-color: #fff;
  border-style: solid;
  border-width: 0px 60px 0px 0px;
  border-color: #a1009c;
}

.alert-success {
  border-radius: 20px;
  border: solid;
  color: #155724;
  background-color: #d4edda;
  border-color: #fffc00;
}

#alert-section{
  position: absolute;
  z-index: 1;
  display: flex;
  line-height: normal;
  top: 0;
  margin-right: 4%;
}

#name-display, #move-counter {
  margin: 10px 10px 10px 5%;
}

/* <------------navbar section-------------> */
.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #00abfc;
  text-align: center;
  overflow-y: scroll;
  padding-bottom: 25px;
}

.sidenav header {
  padding: 0px 8px 6px 8px;
  text-decoration: none;
  height: 190px;
  font-size: 140px;
  display: block;
  font-family: Nerko One;
  text-align:center;
  text-shadow: 0 -1px 0 #fff, 0 -1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 8px 0 #1e1e1e, 0 5px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 9px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 10px 0 #121212, 0 22px 30px rgba(0,0,0,0.9);
  color: #bdea06;
  }

input {
  border: none;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 16px;
  line-height: 1em;
  padding: 0;
}

#login {
  margin: auto;
  width: 80%;
}

#login form {
  padding: 22px 22px 22px 22px;
  width: 100%;
  border-radius: 20px;
  background: #282e33;
  border-top: 3px solid #434a52;
  border-bottom: 3px solid #5c6269;
}

#login form span {
  background-color: #363b41;
  border-radius: 10px;;
  border-right: 3px solid #434a52;
  color: #606468;
  display: block;
  float: left;
  line-height: 50px;
  text-align: center;
  width: 50px;
  height: 50px;
}

#login form input[type="text"] {
  background-color: #3b4148;
  border-radius: 10px;
  color: #a9a9a9;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 100%;
  height: 50px;
}


#login form input[type="submit"] {
  background:#a8d202;
  border: 0;
  width: 100%;
  height: 40px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

#login form input[type="submit"]:hover {
  background: #36a10c;
}

#options div{
  line-height: 2em;
}

#difDiv{
  margin: 10px 0px 10px 0px;
  line-height: 1.5em;
}

#difDiv label{
  color: #c304e6;
  font-family: Nerko One;
  font-size: 25px;
  text-shadow: 2px 2px 1px #101215;
}

#radioDiv{
  margin: 10px 0px 10px 0px;
  line-height: 1.5em;
}

#radioDiv p{

  color: #f7f6f6;
  font-family: Nerko One;
  font-size: 35px;
  text-shadow: 2px 2px 1px #769a25;
  margin-bottom: 0;
}

#radioDiv label{
  color: #ff7b07;
  font-family: Nerko One;
  font-size: 25px;
  text-shadow: 2px 2px 1px #101215;
}

#startPlay{
  background:#a8d202;
  border: 0;
  width: 100%;
  height: 40px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

#startPlay:hover{
  background: #36a10c;
}

#score-list{
  font-size: 12px;
  margin-top: 15px;
  margin-right: auto;
  margin-left: auto;
  padding: 15px 20px 15px 20px;
  width: 85%;
  border-radius: 15px;
  background: #282e33;
  border-top: 3px solid #434a52;
  border-bottom: 3px solid #5c6269;
}

.sidenav ul {
  display: block;
  list-style-type: circle;
  margin-block-start: 0;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 20px;
  color: #fff;
}

.sidenav p {
  color: #fff;
}

/* <------------------------game section------------------------> */
#quitArea {
  margin: 10px 10px 10px 5%;
}

.quitButton {
  display: flex;
  margin-right: 180px;
  margin-top: 30px;
  background-color: #c405e6;
}

.deck {
  width: 485px;
  height: 485px;
  background: linear-gradient(160deg,#00a192 0%, rgba(219, 241, 92, 0.555) 100%);
  padding: 10px;
  border-radius: 20px;
  box-shadow: 12px 15px 20px 0 rgba(73, 71, 46, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 1% auto 2% auto;
  --webkit-perspective: 800;
}

.deck .card {
  height: 23%;
  width: 23%;
  margin: 0.2rem 0.2rem 0.2rem 0.2rem;
  background: rgba(73, 64, 46, 0.9);
  color: #ffffff;
  border-radius: 21px;
  cursor: pointer;
  display: flex;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;

}

/* <<<<<------------ CARDS FOR THE GAME ---------->>>>> */

.flip-card-container {
  width: 105px;
  height: 105px;
  margin: 0.2rem 0.2rem 0.2rem 0.2rem;
  perspective: 800px;
  border-radius: 21px;
  cursor: pointer;
  display: flex;
}

.flip-card {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 21px;
  transition: transform .4s;
  transform-style: preserve-3d;
}

.flip-card-container.flip .flip-card {
  transform: rotateY(180deg); 
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  box-shadow:  3px 5px 9px 1px #663260;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 21px;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.flip-card-front {
  background-color:#b7de15;
  color: #fff;
}

.flip-card-front .rick-morty-theme {
  background-color: #b7de15;
}

.flip-card-back {
  background-color: #054360;
  color: #fff;
  transform: rotateY(180deg);
}

.flip-card-front img {
  width: 100%;
  height: 100%;
  /* border-radius: 0.5rem; */
}
.flip-card-back p {
  text-align: center;
  margin: 1rem;
  font-size: 1.4rem;
  line-height: 1.5rem;
}
.flip-card-back p span {
  display: block;
  font-size: 1rem;
  font-style: italic;
  font-weight: bold;
  margin-top: 1.25rem;
}


/* @media screen and (min-width: 370px) {
  body {
    background-color: lightgreen;
  }
} */

/* ---------------ICONS FOR SOCIAL MEDIA ACCOUNTS ----------- */


@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");

#icons {
  display: grid;
  position: absolute;
  bottom: 4%;
  right: 0px;
}

a.btn-social, .btn-social{
  border-radius: 50%;
  color: #ffffff !important;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  margin: 16px 5px;
  text-align: center;
  text-decoration: none;
  transition: background-color .3s;
  width: 50px;
}

.btn-social .fa,.btn-social i {
  backface-visibility: hidden;
  transform: scale(1);
  transition: all .25s;

}

.btn-social:hover,.btn-social:focus {
  color: rgb(255, 255, 255);
  outline: none;
  text-decoration: none;
  border-color: rgb(241, 236, 236);
  border-style: groove;
  border-width: 1px;
}

.btn-social:hover .fa,.btn-social:focus .fa,.btn-social:hover i,.btn-social:focus i {
  transform: scale(1.3);
  border-style: groove;
  border-width: 1px;
  outline: none;
}

.btn-social.btn-xs {
  font-size: 9px;
  height: 24px;
  line-height: 13px;
  margin: 6px 2px;
  width: 24px;
}

.btn-social.btn-sm {
  font-size: 13px;
  height: 36px;
  line-height: 18px;
  margin: 6px 2px;
  width: 36px;
}

.btn-social.btn-lg {
  font-size: 22px;
  height: 72px;
  line-height: 40px;
  margin: 10px 6px;
  width: 72px;
}

.btn-facebook {
  background-color: #034294;
}
.btn-facebook:hover {
  background-color: #3b5998;
}

.btn-linkedin {
  background-color: #1b1d58;
}
.btn-linkedin:hover {
  background-color: #0552a5;
}

.btn-instagram {
  background-color: #d331b0;
}
.btn-instagram:hover {
  background-color: #be71c5;
}

.btn-codepen {
  background-color: #444444;

}
.btn-codepen:hover {
  background-color: #9ba5a8;
}

.btn-dev {
  background-color: #080b0f;
}
.btn-dev:hover {
  background-color: #2e3138;
}